<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="default" connectionString="Server=.;Database=Cats_Villa;User Id=sa5;Password=sa5;MultipleActiveResultSets=true;Connect Timeout=15;Max Pool Size=100;Application Name=WinDemo" />
  <add name="Cats_Villa.Properties.Settings.Cats_VillaConnectionString"
   connectionString="Data Source=.;Initial Catalog=Cats_Villa;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>